{% extends "layout.html" %} {% block body %} {% if willAdd %}
<div class="container" style="margin-top: 10vh; width: 100%; display: block">
  <form action="" method="post" id="itemform">
    <label for="area1" class="display-4 text-warning">Candidates</label>
    <textarea
      id="area1"
      name="additems"
      style="width: 100%; height: 20vh"
      onkeypress="myFunction()"
      form="itemform"
    ></textarea>
    <button
      class="btn btn-lg btn-primary btn-block text-capitalize"
      type="submit"
    >
      Start lottery
    </button>
    <br />
  </form>
</div>
{% else %}
<style></style>
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>Winner</h3>
        <div>
          <div class="card-text">
            <p>{{ data.winner }}</p>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3>Substitute</h3>
            <div>
              <div class="card-text">
                <p>{{ data.subsitute }}</p>
              </div>
            </div>
          </div>
        </div>
        <br /><br />
        <a href="/"
          ><button class="btn btn-block btn-primary btn-lg">Again</button></a
        >

        {% endif %} {% endblock %}
      </div>
    </div>
  </div>
</div>
