{% extends "layout.html" %}
{% block title %}
Giriş yap
{% endblock %}
{% block body %}
{% from "includes/formhelper.html" import render_field_withoutlabel %}
<div class="container" style="text-align: center;margin-top: 20vh">
    <form action="" method="post">
    <p>Kullanıcı adı</p> {{ render_field_withoutlabel(form.username,class="form-control") }}
    <p>Şifre</p> {{ render_field_withoutlabel(form.password,class="form-control") }}<br>
        <button type="submit" class="btn btn-block btn-primary btn-lg">Giriş yap</button>
    </form>
</div>
{% endblock %}
